<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        /* margin: 0;
        padding: 0; */
        box-sizing: border-box;
      }

      body {
        /* display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh; */
        /* background: #0c0c0c; */
      }

      form {
        position: relative;
        padding: 20px 50px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        align-items: center;
        text-decoration: none;
        width: 200px;
        overflow: hidden;
        border-radius: 40px;
      }

      form button {
        text-transform: uppercase;
      }

      form span {
        position: relative;
        color: #fff;
        font-size: 20px;
        font-family: Arial;
        letter-spacing: 8px;
        z-index: 1;
      }

      form .liquid {
        position: absolute;
        top: -80px;
        left: 0;
        width: 200px;
        height: 200px;
        background: #4973ff;
        box-shadow: inset 0 0 50px rgba(225, 225, 225, 0.5);
        transition: 0.5s;
      }

      form .liquid::after,
      form .liquid::before {
        content: "";
        width: 200%;
        height: 200%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -75%);
        background: #fff;
      }

      form .liquid::before {
        border-radius: 45%;
        background: rgb(225, 225, 225, 1);
        animation: animate 5s linear infinite;
      }

      form .liquid::after {
        border-radius: 40%;
        background: rgba(215, 215, 215, 0.5);
        animation: animate 10s linear infinite;
      }

      form:hover .liquid {
        top: -120px;
      }

      @keyframes animate {
        0% {
          transform: translate(-50%, -75%) rotate(0deg);
        }
        100% {
          transform: translate(-50%, -75%) rotate(360deg);
        }
      }
    </style>
  </head>
  <body>
    <h3>Server is Running</h3>
    <!-- <form action="/register" method="get">
        <div class="container">
            <button type="submit">Register</button>
        </div>
    </form>

    <form action="/login" method="get">
        <div class="container">
            <button type="submit">Login</button>
        </div>
    </form> -->

    <form action="/login" method="get" class="light">
      <button type="submit">
        <span>Login</span>
        <div class="liquid"></div>
      </button>
    </form>
    <br />

    <form action="/register" method="get" class="dark">
      <button type="submit">
        <span>Register</span>
        <div class="liquid"></div>
      </button>
    </form>
  </body>
</html>
